/* CSS */

/* 
$black-coral: rgba(92, 93, 103, 1);
$banana-mania: rgba(247, 227, 175, 1);
$new-york-pink: rgba(231, 143, 142, 1);
$cadet-blue: rgba(124, 180, 184, 1);
$cherry-blossom-pink: rgba(255, 183, 195, 1);

For body pattern i used http://www.patternify.com/ and created the boned on a 10 by 10 grid.

Based on Marina Ferreira's game tutorial: https://marina-ferreira.github.io/projects/js/memory-game/

Buttons from: https://fdossena.com/?p=html5cool/buttons/i.frag

Stars by Nicolas Gallagher 

Thanks guys, were it not for everyone i would have a very sucky game * WAGS <3 *

*/


/* Global */









.memory-game {

    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
  }
  
  .memory-card {
    width: calc(25% - 10px);
    height: calc(23% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    border-radius: 25px;
  }
  
  .memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
  }
  
  .memory-card.flip {
    transform: rotateY(180deg);
    
  }
  
  .memory-card.poof > * {
    background: transparent;
  }
  
  .evil{
    animation: shake 18s 7s infinite forwards;
  }
  
  @keyframes shake {
    0%   {transform: rotate(0deg)}
    5%  {transform: rotate(1deg)}
    10%  {transform: rotate(-2deg)}
    15%  {transform: rotate(1deg)}
    20% {transform: rotate(0deg)}
    22%  {transform: rotate(0deg)}
    100% {transform: rotate(0deg)}
  }
  
  .evil2{
    animation: shake2 32s 29s infinite forwards;
  }
  
  @keyframes shake2 {
    0%   {transform: rotate(0deg)}
    5%  {transform: rotate(1deg)}
    10%  {transform: rotate(-2deg)}
    15%  {transform: rotate(1deg)}
    20% {transform: rotate(0deg)}
    22%  {transform: rotate(0deg)}
    100% {transform: rotate(0deg)}
  }
  
  .front-face,
  .back-face {
    width: 100%;
    height: 100%;
    padding: 0px;
    position: absolute;
    border-radius: 25px;
    background:
    linear-gradient(324deg, #232927 4%,   transparent 4%) -70px 43px,
    linear-gradient( 36deg, #232927 4%,   transparent 4%) 30px 43px,
    linear-gradient( 72deg, #e3d7bf 8.5%, transparent 8.5%) 30px 43px,
    linear-gradient(288deg, #e3d7bf 8.5%, transparent 8.5%) -70px 43px,
    linear-gradient(216deg, #e3d7bf 7.5%, transparent 7.5%) -70px 23px,
    linear-gradient(144deg, #e3d7bf 7.5%, transparent 7.5%) 30px 23px,
    
    linear-gradient(324deg, #232927 4%,   transparent 4%) -20px 93px,
    linear-gradient( 36deg, #232927 4%,   transparent 4%) 80px 93px,
    linear-gradient( 72deg, #e3d7bf 8.5%, transparent 8.5%) 80px 93px,
    linear-gradient(288deg, #e3d7bf 8.5%, transparent 8.5%) -20px 93px,
    linear-gradient(216deg, #e3d7bf 7.5%, transparent 7.5%) -20px 73px,
    linear-gradient(144deg, #e3d7bf 7.5%, transparent 7.5%) 80px 73px;
    background-color: #232927;
    background-size: 100px 100px;
    backface-visibility: hidden;
  }
  
  .front-face {
      /*
    transform: rotateY(180deg);
*/  
}
  
  .gameOver {
  
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    background-color: black;
  
  }
  
  .bouncy{
    animation:bouncy 5s infinite linear;
    position:relative;
  }
  
  #gameOver{
  
    position: relative;
    color: white;
    display: inline-block;
    text-align: center;
    display: none;
  }
  @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
  
  #badEndHolder{
    width: 40%;
    height: 40%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
  }
  
  #badEnd1{
    font-family: 'Pacifico', cursive;
    font-size: x-large;
  }
  
  #badEnd2{
  margin-top: 5%;
  font-family: 'Pacifico', cursive;
    font-size: x-large;
  }
  
  #resetButton{
    margin-top: 20%;
  
  }
  
  a.button2{
  display:inline-block;
  padding:0.5em 3em;
    border:0.16em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.15s;
    }
  
    a.button2:hover{
    color:#DDDDDD;
    border-color:#DDDDDD;
    background-color: red;
    margin-bottom: 1em;
    margin-top: 1em;
    }
    a.button2:active{
    color:#BBBBBB;
    border-color:#BBBBBB;
    }
  
    @media all and (max-width:30em){
    â€ƒa.button2{
    display:block;
    margin:0.4em auto;};
    }
  
  
  @keyframes bouncy {
    0%{top:0em}
    40%{top:0em}
   43%{top:-0.9em}
   46%{top:0em}
   48%{top:-0.4em}
   50%{top:0em}
   100%{top:0em;}  
  } 
  
  
  
  
  @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
  
  #won{
  
    position: relative;
    color: white;
    display: inline-block;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    display: none;
  }
  
  
  .won{
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    background-color: black;
  }
  
  #congratsHolder{
    line-height: 3em;
    width: 80%;
    height: 80%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
  }
  
  #goodEnd1{
  
  }
  
  #goodEnd2{}
  
  #goodEnd3{}
  
  #goodEnd4{}
  
  #goodEnd5{}
  
  #goodEnd6{}